.search-list {
	width: 800px;
	height: 400px;
	overflow-y: scroll;
	box-shadow: var(--box-shadow-1);
}

.search-item {
	margin: 0.2rem 0rem;
	padding: 0.2rem 0rem;
	cursor: pointer;
}

.search-item:hover {
	background-color: var(--col-bg-accent);
}

.selected {
	background-color: var(--col-fuchsia);
}

