.settings-wrapper {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: var(--col-bg-overlay);
}

.settings {
	position: relative;
	width: 70%;
	height: 50%;
	background-color: var(--col-bg-accent);
	padding: 1rem;
}

