:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.95);
  background-color: #222222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --col-tooltip: #111111ee;
  --col-bg: #222222;
  --col-bg-overlay: #111111aa;
  --col-bg-accent: #2a2a2a;
  --col-interactive: #444444;
  --col-fuchsia: #ee0040;
  --col-pink-inactive: #a52768;
  --col-pink-active: #d85a9b;
  --col-pink2: #cf3082;
  --box-shadow-1: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

a {
  font-weight: 500;
  color: var(--col-pink1);
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: var(--col-pink2);
}


html {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
}

input {
  border-radius: 0.25rem;
  border: 1px solid transparent;
  border-color: var(--col-interactive);
  padding: 0.4rem 0.6rem;
  margin: 0.2rem 0.2rem;
}


button {
  border-radius: 0.25rem;
  border: 1px solid transparent;
  border-color: var(--col-pink-inactive);
  padding: 0.4rem 0.6rem;
  margin: 0.2rem 0.2rem;
  height: 2.5rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--col-interactive);
  cursor: pointer;
}

button:hover {
  border-color: var(--col-pink-active);
}


/* https://impossiblue.github.io/log/141026/index.html */
.close-button {
	width: 23px;
	height: 23px;
	border: 2px solid var(--col-pink-inactive);
	background-color: var(--col-bg-accent);
	border-radius: 50%;
	cursor: pointer;
}

.close-button-in-parent {
	/* position within a "relative" parent */
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

.close-button:hover {
	border-color: var(--col-pink-active);
}

.close-button::before, .close-button::after {
	display: block;
	position: absolute;
	top: 10px;
	left: 5px;
	width: 13px;
	height: 3px;
	content: "";
	background-color: white;
}

.close-button::before {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.close-button::after {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


.toggle-switch {
	position: relative;
	display: inline-block;
	width: 2rem;
	height: 1rem;
}

.toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.toggle-switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--col-interactive);
	transition: 0.1s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1rem;
	width: 1rem;
	background-color: white;
	transition: 0.1s;
}

.toggle-switch input:checked + .slider {
	background-color: var(--col-fuchsia);
}

/* .toggle-switch input:focus + .slider { */
/* 	box-shadow: 0 0 10px var(--col-fuchsia); */
/* } */

.toggle-switch input:checked + .slider:before {
	transform: translateX(1rem);
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 4px dotted var(--col-interactive);
}

.tooltip .tooltip-text {
	visibility: hidden;
	width: 10rem;
	background-color: var(--col-tooltip);
	color: #fff;
	text-align: center;
	border-radius: 0.25rem;
	padding: 0.4rem 0.6rem;
	/* Position the tooltip */
	position: absolute;
	z-index: 20;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}


.hide-vis {
	visibility: hidden;
}

.no-display {
	display: none;
}


.container_std {
	width: 100%;
	height: 100%;
}

